@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

.free3of9 {
	font-family: 'Libre Barcode 39 Text', cursive;
	font-size: 40px;
	line-height: normal;
	letter-spacing: 0;
}
