#order_data .order_data_column .form-field._shipping_cvs_store_name_field,
#order_data .order_data_column .form-field._shipping_cvs_store_telephone_field {
    float: right;
    clear: right;
}

#order_data .order_data_column .form-field._shipping_phone_field {
    width: 100%;
    clear: both;
}

#ry-ecpay-shipping-info .button,
#ry-newebpay-shipping-info .button,
#ry-smilepay-shipping-info .button{
    margin-right: 0.5em;
}

.ry-shipping-infos {
    margin-top: 1em;
    overflow-x: auto;
}

.ry-shipping-infos th {
    word-break: keep-all;
}

.ry-shipping-infos td {
    vertical-align: middle;
}

.ry-shipping-infos .button {
    line-height: 2;
    min-height: initial;
}

.ry-shipping-infos .validationno,
.post-type-shop_order .wp-list-table .ry_shipping_no .validationno {
    padding-left: 0.25em;
}
