@import url(https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text);
.free3of9{background-color:#fff;color:#000;display:inline-block;font-family:Libre Barcode\ 39 Text,cursive;font-size:40px;font-weight:400;letter-spacing:0;line-height:1;padding:8px}
